.article-parent .article-child textarea {
    padding: 0;
    min-height: 300px;
    min-width: 300px;
    resize: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    border: none;
    outline-width: 0;
}


.article-parent .article-child input {
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: var(--secondary-color);
    border: none;
    outline-width: 0;
 
}

.article-parent:last-of-type {
    margin-bottom: 10px; /* space between footer and final article */
}


.article-parent .Subheading {
    margin-inline-start: 15px; /* Slight margin from article border */
    font-weight: bold;
    padding: 0;

}

.article-parent .article-child {
    text-align: left;
   
}

.Submit-btm-parent {
    display: flex;
    justify-content: center; /* Centers the child horizontally */
    align-items: center; 
    background-color: var(--primary-color);
    border: solid black;
    border-radius: 10px;
    margin-top: 10px;
    max-width: 600px;  
    padding: 5px;


}

.Submit-btm-child {
    display: flex; 
    justify-content: center; /* Centers the content */
    align-items: center;
    background-color: var(--secondary-color);
    border: solid black;
    border-radius: 10px;
    padding: 5px;
}

.Submit-btm-child a {
    text-align: center;
    color: #0f191a

}


.Submit-btm-parent .Submit-btm-child:hover {

    font-weight: bold;
    border-radius: 0;
}

.Submit-btm-parent:hover {
    border-radius: 0;
}