:root {
    --background-color: #D9D9D9;
    --primary-color: #428F96;
    --secondary-color: #90BBBF;
    font-family: Arial, sans-serif; /* Adding a default font */
    
}

body {
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    padding: 16px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    border-bottom: 2px solid black; /* Black border on the bottom of the header */
    width: 100%;
    box-sizing: border-box;

}

.Header-style {
    display: flex;
    align-items: center;
    width: 100%; /* Ensure it takes up the full width */
    max-width: 1200px; 
    margin-bottom: 10px; /* Space below the header */
}

.Header-style img.Profile-Icon {
    max-width: 70px;
    margin-right: 10px; /* Space between image and text */
    
}

.Header-style h1 {
    font-size: 3em; /* Might adjust if too small */
    text-align: center; /* Center text within the container */
    flex-grow: 1; /* Allow it to take up remaining space */
    margin-left: 0px; /* Adjust as needed for the image */
}

nav {
    display: flex;
    justify-content: space-around; /* Distribute space between nav items */
    width: 100%;
    margin: 10px 0; /* Space around the nav */
}

nav a {
    background-color: var(--secondary-color);
    border: solid black;
    border-radius: 15px;
    padding: 5px;
    color: #0f191a
    font-size: 20px;
    font-weight: bold;
    
        
}

nav a:link, nav a:visited {
    text-decoration: none;
    color:#0f191a;
  }

.main-body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    color: black;
}

.main-body img {
    width: 300px;
    border: solid black;
    border-radius: 10%;
    margin: auto;
}

.main-body .article-parent {
    background-color: var(--primary-color);
    border: solid black;
    border-radius: 10px;
    margin-top: 5%;
    max-width: 600px;
}

.main-body .article-child {
    margin: 10px;
    background-color: var(--secondary-color);
    border: solid black;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
}

.Contact-btm-parent {
    display: flex;
    justify-content: center; /* Centers the child horizontally */
    align-items: center; 
    background-color: var(--primary-color);
    border: solid black;
    border-radius: 10px;
    margin-top: 10px;
    max-width: 600px;  
    padding: 5px;
    margin-bottom: 10px;

}

.Contact-btm-child {
    display: flex; 
    justify-content: center; /* Centers the content */
    align-items: center;
    background-color: var(--secondary-color);
    border: solid black;
    border-radius: 10px;
    padding: 5px;
}

.Contact-btm-child a {
    text-align: center;
    color: #0f191a
    text-decoration: none;
}

.Contact-btm-child a:link, .Contact-btm-child a:visited {
    text-decoration: none;
    color:#0f191a;
  }

.main-body h1 {
    text-align: center;     /* Center text horizontally */
    font-size: 32px;        /* Adjust font size as needed */
    margin-top: 15px;              
    padding: 5px;
}

.main-body p {
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.main-body .article-parent h3 {
    text-align: center;
    margin: 7px;
    color: #0f191a
}

.main-body .article-parent:first-of-type {
    margin-top: 12px;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px;
    margin: 0; 
    border-top: 2px solid black;
    width: 100%; /* Ensure the footer spans the full width of the page */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.info {
    color: black;
}

.info p {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2px;
}

.social-media {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.social-media img {
    width: 20px;
}

.info img {
    width: 10px;
}

a:link, a:visited {
    text-decoration: none;
  }